.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}

.player{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    top: 0px; 
    left: 0px;
}

.npc {
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.one {
    top: 100px;
    left: 400px;
    background-color: red;
}

.two {
    top: -100px;
    left: 800px;
    background-color: orange;
}
.three {
    top: 10px;
    left: 1100px;
    background-color: yellow;
}
.four {
    top: 100px;
    left: 600px;
    background-color: indianred;
}