.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    background-image: url('/img/officeBg.jpg'); /* Add your image file path here */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
}

.player {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url('/img/mainChar.png');
    background-size: cover;
    z-index: 1;
}

.npc {
    position: fixed;
    width: 100px;
    height: 100px;
}

.one {
    position: relative;
    top: 120px;
    left: 750px;
    background-image: url('/img/dwight.png');
    background-size: cover;
    z-index: 1;
    background-color: red;
}

.two {
    top: 500px;
    left: 1380px;
    background-image: url('/img/npc2.png');
    background-size: cover;
    z-index: 1;
    background-color: orange;
    
}

.three {
    position: relative;
    background-image: url('img/npc3.png');
    background-size: cover;
}


#game-container {
    visibility: hidden;
    position: fixed;
    background-color: rgb(223, 148, 148);
    top: 500px;
    width: 100vw;
    height: 100%;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.text-bubble {
    position: absolute;
    top: -100px; /* Adjust based on NPC position */
    left: 50%;
    transform: translateX(-50%);
    background-image: url('bubble.png'); /* Your text bubble image */
    background-size: cover;
    padding: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    display: none; /* Hidden by default */
}

/* sorry */
