.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    background-image: url('/img/officeBg.jpg'); /* Add your image file path here */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
}

.player {
    position: relative;
    height: 200px;
    width: 150px;
    background-image: url('/img/char.png');
    background-size: cover;
    z-index: 1;
}

.npc {
    position: fixed;
    width: 100px;
    height: 100px;
}

.one {
    position: relative;
    top: -130px;
    left: 470px;
    background-size: cover;
    z-index: 1;
    }

.two {
    top: 330px;
    left: 1380px;
    
    background-size: cover;
    z-index: 1;
    
    
}

.three {
    top: 660px;
    left: 935px;
    
    background-size: cover;
   
}


#game-container {
    visibility: hidden;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 10px dashed rgb(255, 81, 81);
    border-radius: 5%;
    top: 1000px;
    left: 220px;
    width: 2000vw;
    height: 50%;
    text-align: center;
    font-size: 30px;
    padding: 90px 60px;
    max-width: 2000px;
    margin: 0 auto;
}

.text-bubble {
    position: absolute;
    top: -100px; /* Adjust based on NPC position */
    left: 50%;
    transform: translateX(-50%);
    background-image: url('bubble.png'); /* Your text bubble image */
    background-size: cover;
    padding: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    display: none; /* Hidden by default */
}

.guy {
    margin-left: 1375px;
    size: 200%;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #c993f3;
    color: white;
    font-family: 'Pixelify Sans', serif;
    font-weight: 400; /* or any value between 400 and 700 */
    font-style: normal;
}

button:hover {
    background-color: #7f3fa6;
}
.pixelify-sans {
    font-family: 'Pixelify Sans', serif;
    font-weight: 400; /* or any value between 400 and 700 */
    font-style: normal;
  }

  
